@import '~antd/dist/antd.css';

.btnOptions{
  width: 250px;
  color: white;
  font-weight: bolder;
  background-color: #191e2b;
  font-size: 20px;
  height: 40px;
  border: 1px solid gray;
}

@media only screen and (max-width: 600px) {
    #canvas {
      width: 100%;
      margin-top: 20px;
    }
  }